body {
  background-color: #424243;
  font-family: 'Red Hat Display', Arial, sans-serif;
  font-size : 12px;
  display:flex;
  padding: 10%;
}

input[type='submit'],
button,
[aria-label] {
  cursor: pointer;
}

#spoiler {
  display: none;
}
.countryContainer {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: space-around;;
}
#add-name {
  text-align: left;
  font-size: 1.3em;
  padding: 10px;
  border-radius: 6px;
}
#edit-name {
  text-align: left;
  font-size: 1.3em;
  padding: 10px;
  border-radius: 6px;
  margin-top: 10px;
}
.addEditBtn {
  background-color: #4384f2;
  color: #030303;
  margin-left: 10px;
  font-size: 1.2em;
  padding: 10px;;
  width: 45px;
  height: 45px;
  border-radius: 50px;
  border: none;
  box-shadow: 0px 1px 4px #030303;
}
.addEditBtn:hover {
  box-shadow: 0px 4px 12px #030303;
  transform: scale(1.10);
}
p#counter {
  font-size: 3em;
  color: #4384f2;
  font-size: 3em;
  text-shadow: 0px 1px 2px #030303;
  text-align: center;
}
.name {
  color: #fefefe;
  font-size: 1.2em;
  text-align: center;
}
.country {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 5px;
}
.countryName {
  color: #fefefe;
  font-size: 2em;
}
.editBtn, .deleteBtn {
  text-align: right;
}