* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #303030;
  font-family: 'Red Hat Display', Arial, sans-serif;
  font-size : 12px;
}
input[type='submit'],
button,
[aria-label] {
  cursor: pointer;
}
#spoiler {
  display: none;
}
.countryContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
#add-name {
  text-align: left;
  font-size: 1.3em;
  padding: 10px;
  border-radius: 6px;
}
#edit-name {
  text-align: left;
  font-size: 1.3em;
  padding: 10px;
  border-radius: 6px;
  margin-top: 10px;
}
.addEditBtn {
  background-color: #4385f2;
  color: #030303;
  margin-left: 10px;
  font-size: 1.2em;
  padding: 10px;
  width: 45px;
  height: 45px;
  border-radius: 50px;
  border: none;
  box-shadow: 0px 1px 4px #030303;
}
.addEditBtn:hover {
  color: #fefefe;
  box-shadow: 0px 4px 12px #030303;
  transform: scale(1.10);
}
p#counter {
  font-size: 3em;
  color: #4385f2;
  font-size: 3em;
  text-shadow: 0px 1px 2px #030303;
  text-align: center;
}
#nameList {
  color: #fefefe;
  font-size: 2em;
  text-align: center;
  text-decoration: underline;
  text-shadow: 0px 1px 2px #030303;
  margin-bottom: 10px;
}
.countryRow {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  grid-gap: 10px;
  margin-bottom: 10px;
}
.countryName {
  color: #fefefe;
  font-size: 1.5em;
  text-transform: capitalize;
}
.editBtn, .deleteBtn {
  background-color: #4385f2;
  color: #030303;
  font-size: 12px;
  width: 45px;
  height: 25px;
  border-radius: 6px;
  border: none;
}
.editBtn:hover, .deleteBtn:hover {
  box-shadow: 0px 2px 12px #030303;
  transform: scale(1.10);
  color: #fefefe;
}